main {
    margin: 0 auto;
    padding: 0 25px;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}






@media screen and (max-width: 1080px)  {
    main {
        padding: 0px 100px;
    }
}


@media screen and (max-width: 768px) {
    main {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 0px 25px;
    }
}

/* @media (max-width: 480px) {
    main {
        padding: 125px 25px;
    }
}
@media (max-width: 768px) {
    main {
        padding: 150px 50px;
    }
}
@media (max-width: 1080px) {
    main {
        padding: 200px 100px;
    }
} */
